<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>

<form method="post">
  <label>E-Mail:
    <input type="email" name="login" placeholder="enter your e-mail...">
  </label>
  <label>Password:
    <input type="password" name="password" placeholder="enter password...">
  </label>
  <button type="submit">Registration!</button>
</form>
<a href="/">Home</a>
<a href="/loginScreen">Sing In</a>
</body>
</html>